setup/workflow/Тесты.json
{
  "name": "Тесты",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "7169bce6-a483-4e13-9a70-d8664c55b7fd",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29d96ff2-3032-480e-a0be-2b1102f52b66",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "9c67e615-1dd2-45ff-bbad-c81030493d98",
              "name": "explanation",
              "value": 1,
              "type": "number"
            },
            {
              "id": "c5ee3f71-f304-45c1-8a58-03c857eb68c5",
              "name": "project_id",
              "value": "={{ $json.project_id }}",
              "type": "string"
            },
            {
              "id": "e21091d1-8ed9-4646-bc36-e7cbdc27d9fa",
              "name": "issue_id",
              "value": "={{ $json.issue_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        0
      ],
      "id": "abd4075a-f51b-45f5-910e-4e122f3b410c",
      "name": "Подготовка обращения к LLM"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "actual_results",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1440,
        0
      ],
      "id": "2cf0a528-9241-4929-aaf2-4f9356c396fc",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true,
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        400,
        0
      ],
      "id": "b6bed20b-1430-482e-88c4-c5d2ed7a485c",
      "name": "Получение файла из чата",
      "webhookId": "3b6b3417-75f4-4578-94b3-a8fd2accfd46"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "data0",
        "destinationKey": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        608,
        0
      ],
      "id": "7795d452-b683-4244-948d-71962b1e188a",
      "name": "Обработка JSON файла"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ff8xUH2Shs94DeOc",
          "mode": "list",
          "cachedResultUrl": "/workflow/ff8xUH2Shs94DeOc",
          "cachedResultName": "main_llm"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1248,
        0
      ],
      "id": "2343c373-ebb1-49c9-9b6d-2c8ae945945c",
      "name": "Вызов 'main_llm'"
    },
    {
      "parameters": {
        "jsCode": "// Получаем ожидаемые и фактические результаты\nconst expected = $('Обработка JSON файла').first().json.data0;\nconst actual = $input.first().json.actual_results;\n\n// Функция для проверки диапазона (работает с \"1\" и \"2-3\")\nfunction checkRange(value, rangeStr) {\n  // Преобразуем в строку, если число\n  const str = String(rangeStr).trim();\n  \n  // Разбиваем по дефису\n  const parts = str.split('-').map(Number);\n  \n  let min, max;\n  if (parts.length === 1) {\n    // Одно число: \"1\" -> min=1, max=1\n    min = max = parts[0];\n  } else {\n    // Диапазон: \"2-3\" -> min=2, max=3\n    min = parts[0];\n    max = parts[1];\n  }\n  \n  return value >= min && value <= max;\n}\n\n// Сравнение\nlet total = 0;\nlet priorityPassed = 0;\nlet confidencePassed = 0;\nconst failed = [];\n\nexpected.forEach(exp => {\n  const act = actual.find(a => String(a.issue_id) === String(exp.issue_id));\n  \n  \n  total++;\n  \n  // Проверка приоритета (используем priority_determined)\n  const priorityValue = parseInt(act.priority_determined);\n  const priorityOk = checkRange(priorityValue, exp.expected_priority_range);\n  if (priorityOk) priorityPassed++;\n  \n  // Проверка уверенности (используем confidence)\n  const confidenceValue = parseInt(act.confidence) || 0;\n  const confidenceOk = checkRange(confidenceValue, exp.expected_confidence_range);\n  if (confidenceOk) confidencePassed++;\n  \n  // Если есть ошибки - сохраняем\n  if (!priorityOk || !confidenceOk) {\n    failed.push({\n      issue_id: exp.issue_id,\n      priority: {\n        expected: exp.expected_priority_range,\n        actual: priorityValue,\n        passed: priorityOk\n      },\n      confidence: {\n        expected: exp.expected_confidence_range,\n        actual: confidenceValue,\n        passed: confidenceOk\n      }\n    });\n  }\n});\n\n// Возвращаем результат\nreturn [{\n  json: {\n    summary: {\n      total_tests: total,\n      priority_passed: priorityPassed,\n      priority_failed: total - priorityPassed,\n      priority_rate: total > 0 ? ((priorityPassed / total) * 100).toFixed(1) + '%' : '0%',\n      confidence_passed: confidencePassed,\n      confidence_failed: total - confidencePassed,\n      confidence_rate: total > 0 ? ((confidencePassed / total) * 100).toFixed(1) + '%' : '0%'\n    },\n    failed_tests: failed\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        0
      ],
      "id": "b2c49a0a-ae15-4f87-8023-38352691b8ff",
      "name": "Сводка результатов"
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Подготовка обращения к LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка обращения к LLM": {
      "main": [
        [
          {
            "node": "Вызов 'main_llm'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Сводка результатов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение файла из чата": {
      "main": [
        [
          {
            "node": "Обработка JSON файла",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обработка JSON файла": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вызов 'main_llm'": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сводка результатов": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "24f4d551-70d9-4f38-a23b-c75845032920",
  "meta": {
    "instanceId": "aa55928e16ab72babb87c711a72f87252d0cdea488d8915de05718b8b430205b"
  },
  "id": "qAn3QoW5az54eJnK",
  "tags": []
}